<div class="h-screen w-screen overflow-hidden flex justify-center items-center bg-gray-900 relative">
 

  <div *ngIf="alertMessage"
    class="absolute top-10 left-1/2 transform -translate-x-1/2  text-white p-4 rounded-lg  z-50 transition-all duration-500 ease-out">

    <app-alert *ngIf="alertMessage" [type]="alertType" [message]="alertMessage"></app-alert>
  </div>

  <div class="w-full max-w-sm p-6 bg-gray-800 rounded-xl shadow-2xl border-4 border-gray-700 z-10 relative">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="space-y-6">
      <h1 class="text-center text-yellow-500 text-4xl font-extrabold tracking-tight">
        LOG IN
      </h1>

      <input
        class="w-full p-4 bg-gray-700 border-2 border-gray-600 rounded-md text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500 transition-all duration-300"
        type="email" name="email" placeholder="Email id" formControlName="email" />

      <input
        class="w-full p-4 bg-gray-700 border-2 border-gray-600 rounded-md text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500 transition-all duration-300"
        type="password" name="password" placeholder="Password" formControlName="password" />

      <button type="submit" [disabled]="!userForm.valid"
        class="w-full p-3 bg-yellow-500 text-black rounded-md hover:bg-yellow-600 hover:shadow-xl hover:shadow-yellow-500 active:bg-yellow-700 transition duration-300 disabled:bg-gray-500 disabled:opacity-70">
        LOG IN
      </button>

      <p class="text-center text-gray-400 hover:text-yellow-500 transition duration-300">
        <u routerLink="/register">Don't have an account? Sign Up</u>
      </p>
    </form>
  </div>
</div>

<router-outlet></router-outlet>