<div [ngClass]="alertClass" class="alert p-4 rounded-lg flex items-center space-x-4">
    <div class="flex-shrink-0">
      <svg *ngIf="type === 'success'" class="w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-11a1 1 0 011.41-.41l3 3a1 1 0 01.41 1.41l-3 3a1 1 0 01-1.41-.41l1.25-1.25H7a1 1 0 110-2h4.25L9 7z" clip-rule="evenodd" />
      </svg>
      <svg *ngIf="type === 'error'" class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-11a1 1 0 011.41-.41l3 3a1 1 0 01.41 1.41l-3 3a1 1 0 01-1.41-.41l1.25-1.25H7a1 1 0 110-2h4.25L9 7z" clip-rule="evenodd" />
      </svg>
      <svg *ngIf="type === 'warning'" class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-11a1 1 0 011.41-.41l3 3a1 1 0 01.41 1.41l-3 3a1 1 0 01-1.41-.41l1.25-1.25H7a1 1 0 110-2h4.25L9 7z" clip-rule="evenodd" />
      </svg>
      <svg *ngIf="type === 'info'" class="w-5 h-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-11a1 1 0 011.41-.41l3 3a1 1 0 01.41 1.41l-3 3a1 1 0 01-1.41-.41l1.25-1.25H7a1 1 0 110-2h4.25L9 7z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm text-white">{{ message }}</p>
    </div>
  </div>
  